#cart:hover{
    background: radial-gradient(pink,green);
}
.carousel-item {
    height: 600px;
    padding: 10px 0px;
    object-fit: contain;
}

.fall-animation {
  display: inline-block;
  position: relative;
  animation: fallDown 1s ease-in infinite;
}

@keyframes fallDown {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  /* 70% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  } */
}


.products {
      padding: 50px 0;
   }
.product-card {
      border: none;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
    }
.product-card:hover {
      transform: scale(1.03);
      background-color: orange;
    }
.product-card img {
      height: 200px;
      object-fit: contain;
      padding: 20px;
    }
.product-card .btn {
      background-color: #2874f0;
      color: #fff;
    }
.card-body .btn:hover{
    background-color: red;
}   

footer {
      background-color: #212121;
      color: #ccc;
      padding: 15px 0;
      text-align: center;
      font-size: 0.9rem;
    }